<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="gallery-container">

        <div class="gallery">
            {% for image in images %}
            <div class="item">
                <a href="/image/{{ image }}"><img src="{{ url_for('images', filename=image) }}" alt="{{ image }}"
                        loading="lazy"></a>
            </div>
            {% endfor %}
        </div>

    </div>
</body>

</html>