<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="gallery-container">

        <div class="gallery">
            {% for image in images %}
            <div class="item">
                <a href="/image/{{ image }}" class="img-link">
                    <img src="{{ url_for('images', filename=image) }}" alt="{{ image }}" loading="lazy">
                    <div class="tags-overlay">
                        {% for tag in data.get(image, []) %}
                        <div class="tag-box"
                            style="left: {{ tag.x }}%; top: {{ tag.y }}%; width: {{ tag.w }}%; height: {{ tag.h }}%;">
                            <div class="tag-label">{{ tag.description }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </a>
                <div class="tag-indicator">
                    {% if data.get(image) %}
                    <span class="tick">✓</span> {{ data[image]|length }}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</body>

</html>